<sidebar id="sidebar">
            <div id="sidebarContainer">
              <div id="active"></div>
              <div id="links">
                <span class="text linkText">
                  <img
                    src="{% static 'home/images/homeIcon.svg' %}"
                    alt="home Icon"
                    id="homeIcon"
                  />
                  Dashboard
                </span>
                <span class="text linkText">
                  <img
                    src="{% static 'home/images/chartIcon.svg' %}"
                    alt="Chart Icon"
                    id="chartIcon"
                  />
                  Analytics
                </span>
                <span class="text linkText">
                  <img
                    src="{% static 'home/images/pieChartIcon.svg' %}"
                    alt="pieChart Icon"
                    id="pieChartIcon"
                  />Machine Learning Tab
                </span>
                <div></div>
                <span class="text linkText" id="settings">
                  <img
                    src="{% static 'home/images/settingsIcon.svg' %}"
                    alt="Settings Icon"
                    id="settingsIcon"
                  />
                  Settings
                </span>
              </div>
            </div>
          </sidebar>
          <div id="settingsSideBar">
            <div id="settingsContainer">
              <span>Auto Update Time Length</span>
              <span>Theme</span>
              <span></span>
            </div>
          </div> 
          <!-- V1.0 Introduced a sidebar for navigation but saw compatibility issues -->
          <!-- v1.1 Sees the links in the header section