{% extends 'user/base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<span class="text">OTP Verified?</span>
<span>Reset It below</span>

<span>Enter your new password</span>
<form method="post" id="forgotPasswordForm">
    {% csrf_token %}
    <input type="password" name="password" placeholder="Password" class="large-input" required>
    <input type="password" name="password2" placeholder="Repeat Password" class="large-input" required>
    <button>Reset your password</button>
</form>



{% endblock %}