{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Products</title>
    <link rel="stylesheet" href="{% static 'frontend/styles.css' %}" />
</head>
<body>
    <div id="supplierAddContainer">
        <form id="supplierAddForm" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div id="supplierAddHeader">
            <span class="supplierAddText" id="frontText"> Add Supplier to SmartStock</span>
            <span class="supplierAddText" id="behindText"> Add Supplier to SmartStock</span>
            
          </div>
  
  
          <div id="supplierAddInputContainer">
            <div id="supplierProfileDetails">
              <div id="supplierProfileDetailsChild">
  
                <div class="supplierAddInputParent">
                  <span>The name of the Supplier</span>
                  <input type="text" class="supplierAddInput" id="supplierAddName" name="supplierAddName">
                </div>
                <div id="supplierSecondaryDetails">
                  <div class="supplierAddInputParent">
                    <span>Supplier Photo</span>
                    <input type="file"  id="supplierPhoto" name="supplierPhoto" hidden>
                    <label for="supplierPhoto" id="supplierPhotoChoice" class="supplierAddInput"><img src="{% static 'home/images/imageIcon.svg' %}" id="supplierPhotoIcon">  Choose File</label>
                  </div>
                </div>
              </div>
              <div class="supplierAddInputParent">
                <span>A brief description of the supplier</span>
                <input type="text" class="supplierAddInput" id="supplierDescription" name="supplierDescription">
              </div>
            </div>
  
            <div id="supplierFinancialDetail">
  
              <div class="supplierAddInputParent">
                <span>Category of your supplier</span>
                <select type="text" class="supplierAddInput" id="supplierCategory" name="supplierCategory" >
                  {% for category in categories %}
                  <option class="supplierCategoryOptions">{{ category.category_name}}</option>
                  {% endfor %}
                </select>
              </div>
              
            </div>
  
            <div id="supplierReport">
              <span id="reportTitle">supplierS IN STOCK</span>
              <div class="stock-table">
                <table>
                  <thead>
                    <tr>
                      <th id="photoRow">Photo</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Category</th>
                    </tr>
                  </thead>
                  <hr id="stockList">
                    {% for supplier in suppliers %}
                    <tr>
                      <td>
                        <img src="{% if supplier.supplier_photo %}{{ supplier.supplier_photo.url }}{% else %}/media/uploads/supplierPhoto/supplierDefaultImage.svg{% endif %}" class="supplierLogoImage"></td>
                      <td>{{ supplier.supplier_name }}</td>
                      <td>{{ supplier.supplier_description }}</td>
                      <td>{{ supplier.category_id.category_name }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <button id="supplierAddButton" type="submit"> Add supplier </button>
  
  
          </div>
        </form>
      </div>
</body>
</html>